version: '3'

services:
    web:
        image: kolaente/laravel:8.2-octane-dev
        depends_on:
            - db
        environment:
            - UID=1000
        ports:
            - 8000:80
        volumes:
            - .:/var/www/

    db:
        image: mariadb:11.3.2
        volumes:
            - .dbdata:/var/lib/mysql
        ports:
            - 127.0.0.1:3306:3306
        environment:
            - MYSQL_DATABASE=life
            - MYSQL_USER=life
            - MYSQL_PASSWORD=life
            - MYSQL_ROOT_PASSWORD=life

    redis:
        image: redis

    mailhog:
        image: mailhog/mailhog
        ports:
            - 127.0.0.1:8025:8025
