version: '3'

services:
  web:
    build: .docker/dev
    image: hub.kolaente.de/wobsites/live-v2
    depends_on:
      - db
    environment:
      - UID=1000
    ports:
      - 8000:80
    volumes:
      - .:/var/www/

  db:
    image: mariadb:10.6.4
    volumes:
      - .dbdata:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=life
      - MYSQL_USER=life
      - MYSQL_PASSWORD=life
      - MYSQL_ROOT_PASSWORD=life
