services:
    web:
        image: life-members:dev
        build:
            context: .
            dockerfile: Dockerfile.dev
        depends_on:
            - db
        environment:
            - UID=1000
        ports:
            - 8000:80
        volumes:
            - .:/app

    db:
        image: mariadb:11.6.2
        volumes:
            - .dbdata:/var/lib/mysql
        ports:
            - 127.0.0.1:3306:3306
        environment:
            - MYSQL_DATABASE=life
            - MYSQL_USER=life
            - MYSQL_PASSWORD=life
            - MYSQL_ROOT_PASSWORD=life

    redis:
        image: redis

    mailhog:
        image: mailhog/mailhog
        ports:
            - 127.0.0.1:8025:8025
